* {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: black;
}

div {
    text-align: center;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    width: 50%;
    height: 500px;
    width: auto;
}

.img.home {
    padding-bottom: 20px;
    height: 600px;
    width: auto;
}

.recipe.recipe-link {
    padding: 5px;
}

.recipe {
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 4px;
}

.title {
    color: black;
    background-color: white;
    padding: 5px;
}

.title.sub-headers {
    display:inline-block;
    padding: 3px;
}

ol li {
    padding-bottom: 20px;
}